<%= render 'layouts/header' %><br><br>

<br>
<div class="col-md-6 col-md-offset-3">
  <textarea class="form-control" rows="3" id="comment"></textarea><br>
  <input style="width: 100%" type="submit" name="commit" value="Tweet" class="btn btn-primary">
</div>



<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
